<div class="table-container">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Employee ID</th>
                <th>Full Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Gender</th>
                <th>Date of Joining</th>
                <th>Department</th>
                <th>Designation</th>
                <th>Employee Type</th>
                <th>Salary</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let employee of allEmployees">
                <td>{{ employee.employeeId }}</td>
                <td>{{ employee.fullName }}</td>
                <td>{{ employee.email }}</td>
                <td>{{ employee.phone }}</td>
                <td>{{ employee.gender }}</td>
                <td>{{ employee.dateOfJoining }}</td>
                <td>{{ employee.departmentName }}</td>
                <td>{{ employee.designationName }}</td>
                <td>{{ employee.employeeType }}</td>
                <td>{{ employee.salary }}</td>
            </tr>
        </tbody>
    </table>
</div>
