<div class="table-container">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Employee ID</th>
                <th>Full Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Gender</th>
                <th>Date of Joining</th>
                <th>Department</th>
                <th>Designation</th>
                <th>Employee Type</th>
                <th>Salary</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ "employee id" }}</td>
                <td>{{ "Full name" }}</td>
                <td>{{ "email" }}</td>
                <td>{{ "phone" }}</td>
                <td>{{ "gender" }}</td>
                <td>{{ "date of joining" }}</td>
                <td>{{ "department" }}</td>
                <td>{{ "designation" }}</td>
                <td>{{ "employee-type"}}</td>
                <td>{{ "salary" }}</td>
                <td>{{" actions" }}</td>
            </tr>
        </tbody>
    </table>
</div>
